<div id='forum-container'>
  <div id='forum-body'>
    <h1>{{forum.title}}</h1>
    <p>By
      <a href='/profile/{{forum.user.id}}'>
        <img class='tiny-pic' src='{{forum.user.profile_picture}}' alt='' />
        {{forum.user.first_name}}
        {{forum.user.last_name}}
      </a>
      on
      {{format_date forum.date_created}}</p>
    <p>{{forum.content}}</p>
  </div>
  <button data-id='{{forum.id}}' id='follow-forum'>Follow This Forum +</button>
</div>

{{#if loggedIn}}
    <form class='comment-form'>
      <div>
        <textarea class='ml-5' name='comment-body'></textarea>
      </div>

      <div>
        <button class='button is-warning ml-5 mb-5' type='submit'>add comment</button>
      </div>

    </form>
  {{/if}}

<script src='../js/logout.js'></script>
<script src='../js/forum.js'></script>