<Head>
  <title>Bootcampers Alumni</title>
  </Head>
<Body>
  
 <header class="forum-header">
<h2>List of Available Forums</h2>
<!-- Button trigger modal -->
<btn data-bs-toggle="modal" data-bs-target="#exampleModal">
<a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
       Create a Forum
    </a>
  
</btn>
</header> 
<div class="main-forum-container">
{{#each forums as |forum|}}
<div class="card box-styling">
  <div class="card-header">
    <a href="/forums/{{forum.id}}">{{forum.title}}</a>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{forum.content}}</p>
      <footer class="blockquote-footer">{{forum.user.first_name}}<cite title="Source Title"> {{format_date forum.date_created}}</cite></footer>
    </blockquote>
  </div>
  <p>{{forum.comments.length}} Comment(s)</p>
</div>
{{/each}}
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Forum</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<form>
  <label for="forumname">Name your Forum:</label><br>
  <input type="text"  id="forumname" name="fname"><br>
  <label for="forumdetails">Tell us what your Forum is about:</label><br>
  <textarea id="forumdetails" name="forumdetails" placeholder="eg. the area of interest, who it is for"></textarea>
</form>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="closebtn" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="savebtn">Save changes</button>
     
      </div>
    </div>
  </div>
 

</div>
<footer><h6>Back to the top</h6></footer>
</Body>
<script src='./js/logout.js'></script>
<script src='./js/forum.js'></script>