<div id='forum-container' class="box-styling">
  <div id="forum-head">
    <h2>{{forum.title}}</h2>
    <button class='btn btn-primary' data-id='{{forum.id}}' id='follow-forum'>Follow This Forum +</button>
  </div>
  <div id='forum-body'>
    <p>By
      <a class="forum-user" href='/profile/{{forum.user.id}}'>
        <img class='tiny-pic' src='{{forum.user.profile_picture}}' alt='' />
        {{forum.user.first_name}}
        {{forum.user.last_name}}
      </a>
      on
      {{format_date forum.date_created}}</p>
    <p>{{forum.content}}</p>
  </div>
  <div id='all-comments'>
    <div id="comment-header">
    <h2>Comments:</h2>
    <button id="add-comment" class="btn btn-primary">Add Comment +</button>
    <button id="cancel-comment" class="btn btn-secondary">Cancel</button>
    </div>
    <form class='comment-form'>
    <div>
      <textarea class='ml-5' id="new-comment-input" name='comment-body'></textarea>
    </div>
    <div>
      <button
        id='comment-btn'
        data-id='{{forum.id}}'
        class='btn btn-primary is-warning ml-5 mb-5'
        type='submit'
      >Submit Comment</button>
    </div>
  </form>
    {{#each forum.comments as |comment|}}
      <div class='comment-container box-styling'>
        <p>{{comment.content}}</p>
        <p><a class="forum-user" href='/profile/{{comment.user.id}}'>{{comment.user.first_name}}
            {{comment.user.last_name}}</a> ~ {{format_date comment.date_created}}</p>
      </div>
    {{/each}}
  </div>
</div>

<script src='../js/comment.js'></script>
<script src='../js/logout.js'></script>
<script src='../js/forum.js'></script>