<div class='container'>

  <div class='row gx-0'>
    <div class='col col-md-5'>
      <div class='profile-pic box-styling'>
        <div id="name-container">
        <h2>{{user.first_name}} {{user.last_name}}</h2>
        {{#if (eq user_id user.id)}}
        <img id="edit-name" title="Edit Name" class="edit-icon" src="./images/edit-button.png" alt="">
        {{else}}
          <button class="btn btn-primary" id='follow-user' data-id='{{user.id}}'>Follow +</button>
        {{/if}}
        </div>
        <div id="edit-name-container">
            <input type="text" name="edit-first_name" id="edit-first_name-input" value="{{user.first_name}}">
            <input type="text" name="edit-last_name" id="edit-last_name-input" value="{{user.last_name}}">
            <button id="save-name" class="btn btn-primary">Save</button>
        </div>
        <hr>
        <div
          id='pic-container'
          style='background-image: url({{user.profile_picture}});'
        >
        </div>
        {{#if (eq user_id user.id)}}
          <div>
            <form id='profile-upload'>
              <div class='form-group'>
                <label for='file-upload'>Change Profile Picture:</label>
                <input
                  accept='.jpg,.png'
                  type='file'
                  class='form-control-file'
                  id='file-upload'
                />
              </div>
              <button
                id='file-submit'
                type='submit'
                class='btn btn-primary'
              >Submit</button>
            </form>
          </div>
          <button
          type='button'
          id='edit-button'
          class='btn btn-secondary btn-sm'
          >
           Edit Work/Contact
          </button>
        {{/if}}
      </div>

      <div id='contact-input' class='hide box-styling'>
        <form class='form-horizontal'>
          <div class='panel panel-default'>
            <div class='panel-heading'>
              <h4 class='panel-title'>Profession</h4>
            </div>
            <div class='panel-body'>
              <div class='form-group'>
                <label class='col-sm-2 control-label'>Location</label>
                <div class='col-sm-10'>
                  <select id='location' class='form-control'>
                    <option selected='{{user.location}}'>Select country</option>
                    <option>Belgium</option>
                    <option>Canada</option>
                    <option>Denmark</option>
                    <option>Estonia</option>
                    <option>France</option>
                    <option>United Kingdom</option>
                    <option>United Stated of America</option>
                  </select>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-2 control-label'>Company name</label>
                <div class='col-sm-10'>
                  <input type='text' id='company-name' class='form-control' value="{{user.company_name}}"/>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-2 control-label'>Position</label>
                <div class='col-sm-10'>
                  <input type='text' id='position' class='form-control' value="{{user.position}}"/>
                </div>
              </div>
            </div>
          </div>

          <div class='panel panel-default'>
            <div class='panel-heading'>
              <h4 class='panel-title'>Contact info</h4>
            </div>
            <div class='panel-body'>
              <div class='form-group'>
                <label class='col-sm-2 control-label'>Mobile number</label>
                <div class='col-sm-10'>
                  <input
                    type='tel'
                    id='mobile-num'
                    class='form-control'
                    value="{{user.mobile_number}}"
                  />
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-2 control-label'>E-mail address</label>
                <div class='col-sm-10'>
                  <input
                    type='email'
                    id='email'
                    class='form-control'
                    value="{{user.email}}"
                  />
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-2 control-label'>Github</label>
                <div class='col-sm-10'>
                  <input
                    type='tel'
                    id='github'
                    class='form-control'
                    value="{{user.github}}"
                  />
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-2 control-label'>Slack</label>
                <div class='col-sm-10'>
                  <input
                    type='tel'
                    id='slack'
                    class='form-control'
                    value="{{user.slack}}"
                  />
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-2 control-label'>LinkedIn</label>
                <div class='col-sm-10'>
                  <input
                    type='tel'
                    id='linkedin'
                    class='form-control'
                    value="{{user.linked_in}}"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class='form-group'>
            <div class='col-sm-10 col-sm-offset-2'>
              <button
                type='submit'
                id='save-btn'
                class='btn btn-primary'
              >Submit</button>
              <button
                type='reset'
                id='cancel-edit'
                class='btn btn-default'
              >Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class='col col-md-6'>
      <div class='bio box-styling'>
        <div id="bio-header">
        <h3>BIO</h3>
        {{#if (eq user_id user.id)}}
        <img id="edit-bio" title="Edit Bio" class="edit-icon" src="./images/edit-button.png" alt="">
        {{/if}}
        </div>
        <hr>
        <div id="bio-container">
          <p>{{user.bio}}</p>
        </div>
        <div id="edit-bio-container">
          <textarea name="edit-bio-input" id="edit-bio-input" cols="50" rows="5">{{user.bio}}</textarea>
          <button id="save-bio" class="btn btn-primary">Save</button>
        </div>
      </div>
      <div id="forums-container" class="box-styling">
        <div>
        <h4>My Forums</h4>
        <hr>
        <ul>
          {{#each user.forums as |forum|}}
            <li><a href='/forums/{{forum.id}}'>{{forum.title}}</a></li>
          {{/each}}
        </ul>
        </div>
        <div>
        <h4>Following Forums:</h4>
        <hr>
        <ul>
          {{#each user.follows as |following|}}
            <li class='following-item'>
              <a href='/profile/{{following.forum.id}}'>
                {{following.forum.title}}
              </a>
            </li>
           {{/each}}
        </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='row gx-0'>
      <div class='contact-info box-styling col-md-5'>
        <h3>Profession</h3>
        <hr>
        <ul>
          <li id='locat'>Location: {{user.Location}}</li>
          <li id='company'>Company Name: {{user.company_name}}</li>
          <li id='role'>Position: {{user.position}}</li>
        </ul>
        <h3>Contact</h3>
        <hr>
        <ul>
          <li id='tel'>Phone: {{user.mobile_number}}</li>
          <li id='mail'><a href="mailto:{{user.email}}"><img src="./images/envelope.svg" alt="">{{user.email}}</a></li>
          <li>
            <a href="{{user.github}}"><img class="contact-image" src="./images/github (1).png" alt=""></a>
            <a href="{{user.slack}}"><img class="contact-image" src="./images/slack-logo.png" alt=""></a>
            <a href="{{user.linked_in}}"><img class="contact-image" src="./images/linkedin.png" alt=""></a>
          </li>
        </ul>
      </div>
      


<div class="col col-md-6">
  <div id="user-follow" class="box-styling">
  <h3>Following:</h3>
  <hr>
  <ul>
    {{#each user.follows as |following|}}
      <li class='following-item'><a href='/profile/{{following.user.id}}'><div
            class='tiny-pic'
            style='background-image: url({{following.user.profile_picture}});'
          ></div>
          <p>{{following.user.first_name}}
            {{following.user.last_name}}</p></a></li>
    {{/each}}
  </ul>
  </div>
</div>
</div>
</div>
{{#if (eq user_id user.id)}}
  <script src='./js/aws.js'></script>
  <script src='./js/logout.js'></script>
  <script src='./js/profile.js'></script>
{{else}}
  <script src='../js/logout.js'></script>
  <script src='../js/profile.js'></script>
{{/if}}