<div class="flexcontainer">
<div class='container'>

  <div class='row'>
    <div class='col col-md-6'>
      <div class='bio'>
        <h3>BIO</h3>
        <p>{{user.bio}}</p>
      </div>
    </div>
    <div class='col-md-6'>
      <div class='profile-pic'>
        <h1>{{user.first_name}} {{user.last_name}}</h1>
        {{#if (eq user_id user.id)}}{{else}}
          <button id='follow-user' data-id='{{user.id}}'>Follow +</button>
        {{/if}}
        <div
          id='pic-container'
          style='background-image: url({{user.profile_picture}});'
        >
        </div>
        {{#if (eq user_id user.id)}}
          <div>
            <form id='profile-upload'>
              <div class='form-group'>
                <label for='file-upload'>Change Profile Picture:</label>
                <input
                  accept='.jpg,.png'
                  type='file'
                  class='form-control-file'
                  id='file-upload'
                />
              </div>
              <button
                id='file-submit'
                type='submit'
                class='btn btn-primary'
              >Submit</button>
            </form>
          </div>
        {{/if}}
      </div>

    </div>
      <div class='contact-info' 'col-md-6'>
        <h3>Contact info</h3>
        <br>
        <p id="locat">Location: </p>
        <br>
        <p id="company">Company Name: </p>
        <br>
        <p id="role">Position: </p>
        <br>
        <p id="tel">Phone Number:</p>
        <br>
        <p id="mail">email - clickable icon link</p>
        <br>
        <p id="adds">Work Address:</p>
        <button
          type='button'
          id='edit-button'
          class='btn btn-secondary btn-sm'
        >Edit Profile</button>
      </div>
        <div class="clicklinks></div>
        <p>Github - clickable icon link</p>
        <p>Slack - clickable icon link</p>
        <p>Linked-in - clickable icon link</p>
      </div>
      <div id='contact-input' class='hide'>
        <form class='form-horizontal'>
          <div class='panel panel-default'>
            <div class='panel-heading'>
              <h4 class='panel-title'>Profession info</h4>
            </div>
            <div class='panel-body'>
              <div class='form-group'>
                <label class='col-sm-2 control-label'>Location</label>
                <div class='col-sm-10'>
                  <select id='location' class='form-control'>
                    <option selected=''>Select country</option>
                    <option>Belgium</option>
                    <option>Canada</option>
                    <option>Denmark</option>
                    <option>Estonia</option>
                    <option>France</option>
                    <option>United Kingdom</option>
                    <option>United Stated of America</option>
                  </select>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-2 control-label'>Company name</label>
                <div class='col-sm-10'>
                  <input type='text' id='company-name' class='form-control' />
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-2 control-label'>Position</label>
                <div class='col-sm-10'>
                  <input type='text' id='position' class='form-control' />
                </div>
              </div>
            </div>
          </div>

          <div class='panel panel-default'>
            <div class='panel-heading'>
              <h4 class='panel-title'>Contact info</h4>
            </div>
            <div class='panel-body'>
              <div class='form-group'>
                <label class='col-sm-2 control-label'>Mobile number</label>
                <div class='col-sm-10'>
                  <input
                    type='tel'
                    id='mobile-num'
                    class='form-control'
                    required
                  />
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-2 control-label'>E-mail address</label>
                <div class='col-sm-10'>
                  <input
                    type='email'
                    id='email'
                    class='form-control'
                    required
                  />
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-2 control-label'>Work address</label>
                <div class='col-sm-10'>
                  <textarea
                    rows='3'
                    id='work-adds'
                    class='form-control'
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class='form-group'>
            <div class='col-sm-10 col-sm-offset-2'>
              <button
                type='submit'
                id='save-btn'
                class='btn btn-primary'
              >Submit</button>
              <button
                type='reset'
                id='cancel-edit'
                class='btn btn-default'
              >Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!--<div class='col col-md-6'>
      <div class='bio'>
        <h3>BIO</h3>
        <p>{{user.bio}}</p>
      </div>
      <div>-->
        <h4>My Forums</h4>
        <ul>
          {{#each user.forums as |forum|}}
            <li><a href='/forums/{{forum.id}}'>{{forum.title}}</a></li>
            {{/each}}
        </ul>
        <h4>Following Forums:</h4>
        <ul>
          {{#each user.follows as |following|}}
            <li class='following-item'>
              <a href='/profile/{{following.forum.id}}'>
                {{following.forum.title}}
              </a>
             </li>
           {{/each}}
        </ul>
      </div>
    </div>
  </div>

<div>
  <h3>Following:</h3>
  <ul>
    {{#each user.follows as |following|}}
      <li class='following-item'><a href='/profile/{{following.user.id}}'><div
            class='tiny-pic'
            style='background-image: url({{following.user.profile_picture}});'
          ></div>
          <p>{{following.user.first_name}}
            {{following.user.last_name}}</p></a></li>
    {{/each}}
  </ul>
</div>
{{#if (eq user_id user.id)}}
  <script src='./js/aws.js'></script>
  <script src='./js/logout.js'></script>
  <script src='./js/profile.js'></script>
{{else}}
  <script src='../js/logout.js'></script>
  <script src='../js/profile.js'></script>
{{/if}}